@import "font.css";

$color1: #d35266;
$color2: #888;
$color3: #383838;
$light: white;
$medium: #f2f2f2;

body {
	padding: 0;
	margin: 0;
	color: $color3;
	font-family: Helvetica-Neue-Light;
}

/* Containers */
.container-wide {
	max-width: 1200px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.carousel-container {
	width: 850px;
	margin: auto;
}

.footer-logo-container {
	width: 150px;
}

.header-img {
	background-image: url("../img/cover-cropped.png");
	background-size: cover;
	background-position: center;
	background-blend-mode: darken;
}

/* Backgrounds */
.bg1 {
	background-color: $color1;
}

.bg3 {
	background-color: $color3;
}

.bg-medium {
	background-color: $medium;
}

/* Font */
.ftgb {
	font-family: Gotham-Bold;
}

.ftgl {
	font-family: Gotham-Rounded-Light;
}

.fthm {
	font-family: Helvetica-Neue-Medium;
}

.fthb {
	font-family: Helvetica-Neue-Bold;
}

.fss {
	font-size: 0.8rem;
}

.color1 {
	color: $color1;
}

.color2 {
	color: $color2;
}

.color3 {
	color: $color3;
}

.color-light {
	color: $light;
}

/* Icons */
.icon {
	width: 24px;
	width: 24px;
}

.footer-logo {
	width: 64px;
	height: 64px;
}

/* SVG */
.svg-fill1 {
	fill: $color1;
}

.svg-fill2 {
	fill: $color2;
}

/* Lists */
.list {
	padding:0;
	margin: 0;
	li {
		padding: 0 5px;
		list-style: none;
	}
}

.list-display {
	li {
		display: inline-block;
	}
}

/* Inputs */

.input {
	width: 180px;
	height: 30px;
}

.add {
	width: 24px;
	height: 24px;
}

.label {
	width: 80px;
}
