@import "font.css";

$color1: #d35266;
$color2: #888;
$color3: #383838;
$light: white;
$medium: #f2f2f2;

body {
	padding: 0;
	margin: 0;
	color: $color3;
	font-family: Helvetica-Neue-Light;
}

/* Containers */
.container-wide {
	max-width: 1200px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.carousel-container {
	width: 850px;
	margin: auto;
}

.carousel-container-inner {
	width: 650px;
	margin: auto;
}

.search-section {
	height: auto;
}

.footer-logo-container {
	width: 150px;
}

.header-img {
	background-image: url("../img/cover-cropped.png");
	background-size: cover;
	background-position: center;
	background-blend-mode: darken;
}

.buy {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 30px;
	input {
		border: transparent;
		border-left: 1px solid $color3;
	}
}

/* Backgrounds */
.bg1 {
	background-color: $color1;
}

.bg3 {
	background-color: $color3;
}

.bg-light {
	background-color: $light;
}

.bg-medium {
	background-color: $medium;
}

/* Font */
.ftgb {
	font-family: Gotham-Bold;
}

.ftgl {
	font-family: Gotham-Rounded-Light;
}

.fthm {
	font-family: Helvetica-Neue-Medium;
}

.fthb {
	font-family: Helvetica-Neue-Bold;
}

.fss {
	font-size: 0.9rem;
}

.color1 {
	color: $color1;
}

.color2 {
	color: $color2;
}

.color3 {
	color: $color3;
}

.color-light {
	color: $light;
}

/* Icons */
.icon {
	width: 24px;
	width: 24px;
}

.footer-logo {
	width: 64px;
	height: 64px;
}

/* SVG */
.svg-fill1 {
	fill: $color1;
}

.svg-fill2 {
	fill: $color2;
}

/* Lists */
.list {
	padding:0;
	margin: 0;
	li {
		padding: 0 5px;
		list-style: none;
	}
}

.list-display {
	li {
		display: inline-block;
	}
}

/* Inputs */
.input {
	width: 180px;
	height: 30px;
}

.input-search {
	width: 180px;
}

.add {
	width: 24px;
	height: 24px;
}

.label {
	width: 80px;
}

/* Grids */
.products-grid {
	display: block;
}

@media (min-width: 576px) {
	.products-grid {
		display: grid;
		column-gap: 15px;
		grid-template-columns: auto auto;
  	grid-template-rows: auto auto;
	}
}

@media (min-width: 768px) {
	.search-section {
		height: 220px;
	}

	.input-search {
		width: 80px;
	}

	.products-grid {
		display: grid;
		column-gap: 15px;
		grid-template-columns: auto auto auto auto;
  	grid-template-rows: auto;
	}
}
